.cooperative-name {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
}

.cooperative-name-two {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 7px;
}

.email-address-big-font{
    width: 108px;
    height: 24px;
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
}

.label {
    color: #111014;
    font-weight: 700;
    font-size: 14px;

}

.authentication-big-font-style {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
    width: 470px;
}

.authentication-small-font-style {
    width: 450px;
    height: 97px;
    font-size: 15px;
    font-weight: 350;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    opacity: 85.9%;
}


.get-started-big-font-style{
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 300;
    /* line-height: 40px; */
    letter-spacing: -0.01em;
}


.sub-text-font-style {
    font-family: 'EuclidCircularA',sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.sub-text-font-style::placeholder {
    color: #878789;
    font-family: 'EuclidCircularA',sans-serif;
  }

.account-exists-font-style, .account-does-not-exist-font-style{
    font-family: 'EuclidCircularA',sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 85.9%;
    color: #707171;
}

.forgotten-password-link{
    width: 207px;
    height: 30px;
    margin-left: 505px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:  #F04438;
    border: 1px solid #FFFFFF;
    margin-bottom: 12px;

}

.account-exists-login-style, .account-does-not-exist-register-style{
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #7838D6;
}

.forgotten-password-big-font{
    width: 547px;
    height: 50px;
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
}

.forgotten-password-small-font{
    width: 451px;
    height: 60px;
    border: 0.12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 85.9%;
}

.welcome-back-big-font-style{
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -0.01em;
}
