#dash-lower-section{
  
    height: 60%;
    
}

#dash-body{
    height: 92%;
}

@media screen and (max-width: 506px) {
    #lower-box2{
        
      
    }

    #dash-lower-section{
  
        height: fit-content;
        
    }
    
}