.sidebar-link {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: lighter
  }

  .sidebar-button{
    display: none;
  }
  
  @media screen and (max-width: 1000px) {
  #sidebar {
      width: 12rem; 
      z-index: 1000; 
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      background-color: #ffffff;
      transition: transform 0.3s ease;
      box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.096);
    } 
  
    .sidebar-button{
      display: block;
      width: 40%;
      border-radius: 5px;
      margin: 2rem;
      height: 30px;
      background-color: black;
      color: #FFFFFF ;
    }
  }

  #company-name{
    font-weight: 600;
  }

  .linkClasses:hover {
    font-weight: bold;
    color: #006400; /* Deep Green */
  }


  .sidebar-links{
    width: 10rem;
    height: 150%;
    line-height: 1.9;
    font-weight: 400;
  }

  .sidebar-link:hover {
    color: #006400; /* Dark Green */
   
  }

  #sidebar{
    border-right:solid 2pt  #e9e8e8 ;
  }