
#reg-main-container {
  outline: none;
  border: none;
}

input {
  outline: none;
  border: none;
}

.bgbox {
  background-image: url(../assets/images/9527492.jpg);
  height: 100%;
  width: 50vw;
}
button {
  outline: none;
  border: none;
  background-color: transparent;
}

#form {
  width: 40%;
  margin-left: 10rem;
  margin-right: 9rem;
  outline: none;
  border: none;
}

#dashboard-image img {
  margin-left: auto;
  margin-right: 90rem;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

#text-box {
  text-align: center;
  align-self: self-start;
  width: 40%;
  margin-left: -100;
}

#heading-text {
  width: auto;
}

#subtext {
  width: auto;
}

.line-with-text {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.line {
  border-top: 1px solid #5757583b;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 10px;
  font-size: 14px;
}

.trademark::before {
  content: "\2122";
  margin-right: 4px;
}

@media screen and (max-width: 993px) {
  #reg-main-container {
    outline: none;
    border: none;
    flex-direction: column;

    overflow-y: scroll;
  }

  #logo {
    margin-top: 3rem;
    margin-left: 3rem;
    height: 20%;
  }

  #logo h2 {
    font-size: 5vw;
    height: 100%;
  }

  #heading-text {
    font-size: 8vw;
    line-height: 1.2;
  }

  #subtext {
    font-size: 4vw;
    line-height: 1.2;
  }

  #user-image {
    display: none;
  }

  .bgbox {
    background-image: url(../assets/images/9527492.jpg);
    height: 100%;
    width: 100vw;
  }

  #text-box {
    margin: 0 auto;
    padding: 3rem;
    width: 100%;
    max-width: 800px;
    height: 85%;
    line-height: 1.2;
    text-align: center;
  }

  #form {
    width: auto;
    margin: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #reg-main-container {
    outline: none;
    border: none;
    flex-direction: column;

    overflow-y: scroll;
    padding-top: 10rem;
  }

  #logo {
    margin-top: 3rem;
    margin-left: 3rem;
    height: 20%;
  }

  #logo h2 {
    font-size: 5vw;
    height: 100%;
  }

  #heading-text {
    font-size: 8vw;
    line-height: 1.2;
  }

  #subtext {
    font-size: 4vw;
    line-height: 1.2;
  }

  #user-image {
    display: none;
  }

  .bgbox {
    background-image: url(../assets/images/9527492.jpg);
    height: 100%;
    width: 100vw;
  }

  #text-box {
    margin: 0 auto;
    padding: 3rem;
    width: 100%;
    max-width: 800px;
    height: 85%;
    line-height: 1.2;
    text-align: center;
  }

  #form {
    width: auto;
    margin: 3rem;
  }
}

@media screen and (max-width: 440px) {
  #reg-main-container {
    outline: none;
    border: none;
    flex-direction: column;

    overflow-y: scroll;
    padding-top: 22rem;
  }
}
