#navtext{
    color: #ffffff6c;
    font-size: large;
  
}

.tcontainer {
    position: relative;
  }
  
  .nav-button {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .nav-button-text {
    display: inline-block;
    transition: transform 0.2s ease;
  }
  